{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>Starter Template for Bootstrap</title>

        <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'hotkeys/hotkeys.min.css' %}">
    </head>

    <body ng-app="myApp">

        <div class="ui inverted top attached menu">
            <div class="labeled button">
                <a class="ui item header" href="#"><i class="home icon"></i></a>
            </div>
        </div>

        <div class="ui container" ng-controller="mycontroller"
             ng-init="picId = {{ pic_id }}; nextId = {{ next_id }}">

            <div style="margin: 30px;" class="ui segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <div class="ui vertical fluid tabular menu">
                            <div class="item">
                                ID: {% templatetag openvariable %} current.id {% templatetag closevariable %}
                            </div>
                            <div class="item">
                                Category: {% templatetag openvariable %} current.cat {% templatetag closevariable %}
                            </div>
                            <div class="item">
                                Real Label:
                                {% templatetag openvariable %} current.real_label {% templatetag closevariable %}
                            </div>
                            <div class="item">
                                    Label0:
                                {% templatetag openvariable %} current.label0 {% templatetag closevariable %}
                            </div>
                            <div class="item">
                                    Label1:
                                {% templatetag openvariable %} current.label1 {% templatetag closevariable %}
                            </div>
                            <div class="item">
                                    Label2:
                                {% templatetag openvariable %} current.label2 {% templatetag closevariable %}
                            </div>
                            <div class="item">
                                    Label3:
                                {% templatetag openvariable %} current.label3 {% templatetag closevariable %}
                            </div>
                            <div class="item">
                                    Label4:
                                {% templatetag openvariable %} current.label4 {% templatetag closevariable %}
                            </div>
                            <div class="item">
                                    Label5:
                                {% templatetag openvariable %} current.label5 {% templatetag closevariable %}
                            </div>
                            <div class="item">
                                    Label6:
                                {% templatetag openvariable %} current.label6 {% templatetag closevariable %}
                            </div>
                            <div class="item">
                                    Label7:
                                {% templatetag openvariable %} current.label7 {% templatetag closevariable %}
                            </div>
                            <div class="item">
                                    Label8:
                                {% templatetag openvariable %} current.label8 {% templatetag closevariable %}
                            </div>
                            <div class="item">
                                    Label9:
                                {% templatetag openvariable %} current.label9 {% templatetag closevariable %}
                            </div>
                            <div class="item">
                                Shown: {% templatetag openvariable %} current.shown {% templatetag closevariable %}
                            </div>
                            <div class="item">
                                Completed: {% templatetag openvariable %} current.cmp {% templatetag closevariable %}
                            </div>
                        </div>
                    </div>
                    <div class="twelve wide stretched column">
                        <div class="ui segment">
                            <div style="margin: 10px;" class="ui centered">
                                <img class="ui centered tiny rounded image"
                                     ng-src="/pic/{% templatetag openvariable %} picId{% templatetag closevariable %}"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container -->


        <!-- core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src=" https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="{% static 'hotkeys/hotkeys.min.js' %}"></script>
        <script src="{% static 'semantic/semantic.min.js' %}"></script>
        <script src="{% static 'show-app.js' %}"></script>
    </body>
</html>
